@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.page {
  font-family: "EB Garamond", serif;
  border: 1px solid;
  width: 595.28px;
  height: 841.89px;
  margin-bottom: 20px;
  padding: 22px;
  font-size: 12px;

  & > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  }

  h1 {
    font-size: 18px;
  }
  .subheader {
    font-size: 13px;
  }

  h2 {
    font-size: 15px;
    margin-top: 5px;
  }

  .experiencesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .experienceItem {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .company-name {
    font-weight: 700;
    /* margin-bottom: -4px; */
  }

  .position-title {
    font-weight: 500;
  }

  .date-range {
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid; */
    font-weight: 700;
  }
}
