* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  /* border: 1px solid; */
  background-color: lightblue;
  padding: 20px;
}

.sidebar h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px;
}

li {
  list-style: none;
}
